<!DOCTYPE html>
<html>
  <head>
    <title>Multitenant</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= current_user.email %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      </li>
      <li>
        <%= link_to('Accounts', accounts_path) %>
      </li>
      <li>
        <%= link_to('Users', users_path) %>
      </li>
    <% end %>
    <hr/>
    <%= yield %>
  </body>
</html>
